In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('datasets/Pokemon/pokemon_data.csv')

df.head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False

# Reading Data in Pandas

In [3]:
# Read Headers
df = df.set_index('#')
df.columns

Index(['Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [4]:
# Read each Column
df['Name'][0:5]

#
1                Bulbasaur
2                  Ivysaur
3                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [5]:
# Multiple Columns
df[['Name', 'Type 1', 'HP']]

                      Name   Type 1  HP
#
1                Bulbasaur    Grass  45
2                  Ivysaur    Grass  60
3                 Venusaur    Grass  80
3    VenusaurMega Venusaur    Grass  80
4               Charmander     Fire  39
..                     ...      ...  ..
719                Diancie     Rock  50
719    DiancieMega Diancie     Rock  50
720    HoopaHoopa Confined  Psychic  80
720     HoopaHoopa Unbound  Psychic  80
721              Volcanion     Fire  80

[800 rows x 3 columns]

In [7]:
## Read a specific Location (R, C)
df.iloc[0,1]

'Grass'

In [8]:
df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [11]:

df['Name']

#
1                  Bulbasaur
2                    Ivysaur
3                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
719                  Diancie
719      DiancieMega Diancie
720      HoopaHoopa Confined
720       HoopaHoopa Unbound
721                Volcanion
Name: Name, Length: 800, dtype: object

In [12]:
# Finding a specific type of pokemon
df.loc[df['Type 1'] == 'Fire']

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
37,Vulpix,Fire,NaN,38,41,40,50,65,65,1,False
38,Ninetales,Fire,NaN,73,76,75,81,100,100,1,False
58,Growlithe,Fire,NaN,55,70,45,70,50,60,1,False
59,Arcanine,Fire,NaN,90,110,80,100,80,95,1,False
77,Ponyta,Fire,NaN,50,85,55,65,65,90,1,False
78,Rapidash,Fire,NaN,65,100,70,80,80,105,1,False
126,Magmar,Fire,NaN,65,95,57,100,85,93,1,False
136,Flareon,Fire,NaN,65,130,60,95,110,65,1,False
146,Moltres,Fire,Flying,90,100,90,125,85,90,1,True
155,Cyndaquil,Fire,NaN,39,52,43,60,50,65,2,False
156,Quilava,Fire,NaN,58,64,58,80,65,80,2,False
157,Typhlosion,Fire,NaN,78,84,78,109,85,100,2,False
218,Slugma,Fire,NaN,40,40,40,70,40,20,2,False
219,Magcargo,Fire,Rock,50,50,120,80,80,30,2,False
240,Magby,Fire,NaN,45,75,37,70,55,83,2,False
244,Entei,Fire,NaN,115,115,85,90,75,100,2,True
250,Ho-oh,Fire,Flying,106,130,90,110,154,90,2,True
255,Torchic,Fire,NaN,45,60,40,70,50,45,3,False
256,Combusken,Fire,Fighting,60,85,60,85,60,55,3,False
257,Blaziken,Fire,Fighting,80,120,70,110,70,80,3,False
257,BlazikenMega Blaziken,Fire,Fighting,80,160,80,130,80,100,3,False
322,Numel,Fire,Ground,60,60,40,65,45,35,3,False
323,Camerupt,Fire,Ground,70,100,70,105,75,40,3,False
323,CameruptMega Camerupt,Fire,Ground,70,120,100,145,105,20,3,False
324,Torkoal,Fire,NaN,70,85,140,85,70,20,3,False
390,Chimchar,Fire,NaN,44,58,44,58,44,61,4,False
391,Monferno,Fire,Fighting,64,78,52,78,52,81,4,False
392,Infernape,Fire,Fighting,76,104,71,104,71,108,4,False
467,Magmortar,Fire,NaN,75,95,67,125,95,83,4,False
485,Heatran,Fire,Steel,91,90,106,130,106,77,4,True
498,Tepig,Fire,NaN,65,63,45,45,45,45,5,False
499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False
500,Emboar,Fire,Fighting,110,123,65,100,65,65,5,False
513,Pansear,Fire,NaN,50,53,48,53,48,64,5,False
514,Simisear,Fire,NaN,75,98,63,98,63,101,5,False
554,Darumaka,Fire,NaN,70,90,45,15,45,50,5,False
555,DarmanitanStandard Mode,Fire,NaN,105,140,55,30,55,95,5,False
555,DarmanitanZen Mode,Fire,Psychic,105,30,105,140,105,55,5,False
631,Heatmor,Fire,NaN,85,97,66,105,66,65,5,False
653,Fennekin,Fire,NaN,40,45,40,62,60,60,6,False
654,Braixen,Fire,NaN,59,59,58,90,70,73,6,False
655,Delphox,Fire,Psychic,75,69,72,114,100,104,6,False
662,Fletchinder,Fire,Flying,62,73,55,56,52,84,6,False
663,Talonflame,Fire,Flying,78,81,71,74,69,126,6,False
667,Litleo,Fire,Normal,62,50,58,73,54,72,6,False
668,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False
721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

# Sorting/Describing Data

In [13]:
#describing the graph
df.describe()

,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [14]:
#sorting names in ascending order 
df.sort_values('Name')

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...
571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True

In [15]:
#sorting names in decending order
df.sort_values('Name', ascending=False)

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
...,...,...,...,...,...,...,...,...,...,...,...
359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False

In [16]:
#sorting multiple parameters the 1 and 0 decides the which collum will be 
#sorted in ascending or descending order
df.sort_values(['Type 1', 'HP'], ascending=[1,0])

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...
98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
120,Staryu,Water,NaN,30,45,55,70,55,85,1,False
129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
349,Feebas,Water,NaN,20,15,20,10,55,80,3,False

# Augmenting the data

In [17]:
df.head(5)

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [24]:
#adding a new column thats the total to the stats
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']

C:\Users\cresp\AppData\Local\Temp\ipykernel_14796\1845325781.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']

In [25]:
df.head(5)

,Name,Type 1,Type 2,HP,Total,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
#,,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,318,49,49,65,65,45,1,False,318
2,Ivysaur,Grass,Poison,60,405,62,63,80,80,60,1,False,405
3,Venusaur,Grass,Poison,80,525,82,83,100,100,80,1,False,525
3,VenusaurMega Venusaur,Grass,Poison,80,625,100,123,122,120,80,1,False,625
4,Charmander,Fire,NaN,39,309,52,43,60,50,65,1,False,309

In [26]:
#df.drop(columns=['Total'], inplace=True)
df.head(5)

,Name,Type 1,Type 2,HP,Total,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
#,,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,318,49,49,65,65,45,1,False,318
2,Ivysaur,Grass,Poison,60,405,62,63,80,80,60,1,False,405
3,Venusaur,Grass,Poison,80,525,82,83,100,100,80,1,False,525
3,VenusaurMega Venusaur,Grass,Poison,80,625,100,123,122,120,80,1,False,625
4,Charmander,Fire,NaN,39,309,52,43,60,50,65,1,False,309

In [27]:
#moving a column
cols = list(df.columns.values)
df = df[cols[0:4] + [cols[-1]] + cols[4:12]]

df.head()

,Name,Type 1,Type 2,HP,Total,Total,Total,Total,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,318,318,318,318,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,405,405,405,405,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,525,525,525,525,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,625,625,625,625,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,309,309,309,309,52,43,60,50,65,1,False

# Saving our Data(Exporting into Desired Format

In [29]:
df

,Name,Type 1,Type 2,HP,Total,Total,Total,Total,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,318,318,318,318,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,405,405,405,405,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,525,525,525,525,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,625,625,625,625,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,309,309,309,309,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,50,600,600,600,600,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,50,700,700,700,700,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,80,600,600,600,600,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,80,680,680,680,680,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,80,600,600,600,600,110,120,130,90,70,6,True

In [30]:
df.to_csv('datasets/Pokemon/modified.csv', index=False)
df.to_csv('datasets/Pokemon/modified.txt', index=False, sep='\t')

# Filtering Data

In [58]:
#getting a pokemon that is both grass and poison
#df.loc[(df['Type 1'] == 'Grass') & (df['Type 2']== 'Poison')]

poison_grass = df.where((df['Type 1'] == 'Grass') & (df['Type 2']== 'Poison')).dropna()
poison_grass
# Save csv file to poisonous-grass
poison_grass.to_csv('datasets/Pokemon/poison_grass_types.csv')

In [61]:
#getting a pokemon that is grass and poison type with an hp greater than 70
new_df = df.where((df['Type 1'] == 'Grass') & (df['Type 2']== 'Poison') & (df['HP'] > 70)).dropna()
new_df

# rest the index
new_df = new_df.reset_index(drop=True)

new_df

,Name,Type 1,Type 2,HP,Total,Total,Total,Total,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Venusaur,Grass,Poison,80.0,525.0,525.0,525.0,525.0,82.0,83.0,100.0,100.0,80.0,1.0,False
1,VenusaurMega Venusaur,Grass,Poison,80.0,625.0,625.0,625.0,625.0,100.0,123.0,122.0,120.0,80.0,1.0,False
2,Vileplume,Grass,Poison,75.0,490.0,490.0,490.0,490.0,80.0,85.0,110.0,90.0,50.0,1.0,False
3,Victreebel,Grass,Poison,80.0,490.0,490.0,490.0,490.0,105.0,65.0,100.0,70.0,70.0,1.0,False
4,Amoonguss,Grass,Poison,114.0,464.0,464.0,464.0,464.0,85.0,70.0,85.0,80.0,30.0,5.0,False

In [62]:
df.loc[(df['Type 1'] == 'Grass') & (df['Type 2']== 'Poison')& (df['HP'] > 70)]

,Name,Type 1,Type 2,HP,Total,Total,Total,Total,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,,,,
3,Venusaur,Grass,Poison,80,525,525,525,525,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,625,625,625,625,100,123,122,120,80,1,False
45,Vileplume,Grass,Poison,75,490,490,490,490,80,85,110,90,50,1,False
71,Victreebel,Grass,Poison,80,490,490,490,490,105,65,100,70,70,1,False
591,Amoonguss,Grass,Poison,114,464,464,464,464,85,70,85,80,30,5,False

In [67]:
#Getting all the names that contain mega in their name
df.loc[(df['Name'].str.contains('Mega'))]

,Name,Type 1,Type 2,HP,Total,Total,Total,Total,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,,,,
3,VenusaurMega Venusaur,Grass,Poison,80,625,625,625,625,100,123,122,120,80,1,False
6,CharizardMega Charizard X,Fire,Dragon,78,634,634,634,634,130,111,130,85,100,1,False
6,CharizardMega Charizard Y,Fire,Flying,78,634,634,634,634,104,78,159,115,100,1,False
9,BlastoiseMega Blastoise,Water,NaN,79,630,630,630,630,103,120,135,115,78,1,False
15,BeedrillMega Beedrill,Bug,Poison,65,495,495,495,495,150,40,15,80,145,1,False
18,PidgeotMega Pidgeot,Normal,Flying,83,579,579,579,579,80,80,135,80,121,1,False
65,AlakazamMega Alakazam,Psychic,NaN,55,590,590,590,590,50,65,175,95,150,1,False
80,SlowbroMega Slowbro,Water,Psychic,95,590,590,590,590,75,180,130,80,30,1,False
94,GengarMega Gengar,Ghost,Poison,60,600,600,600,600,65,80,170,95,130,1,False
115,KangaskhanMega Kangaskhan,Normal,NaN,105,590,590,590,590,125,100,60,100,100,1,False
127,PinsirMega Pinsir,Bug,Flying,65,600,600,600,600,155,120,65,90,105,1,False
130,GyaradosMega Gyarados,Water,Dark,95,640,640,640,640,155,109,70,130,81,1,False
142,AerodactylMega Aerodactyl,Rock,Flying,80,615,615,615,615,135,85,70,95,150,1,False
150,MewtwoMega Mewtwo X,Psychic,Fighting,106,780,780,780,780,190,100,154,100,130,1,True
150,MewtwoMega Mewtwo Y,Psychic,NaN,106,780,780,780,780,150,70,194,120,140,1,True
154,Meganium,Grass,NaN,80,525,525,525,525,82,100,83,100,80,2,False
181,AmpharosMega Ampharos,Electric,Dragon,90,610,610,610,610,95,105,165,110,45,2,False
208,SteelixMega Steelix,Steel,Ground,75,610,610,610,610,125,230,55,95,30,2,False
212,ScizorMega Scizor,Bug,Steel,70,600,600,600,600,150,140,65,100,75,2,False
214,HeracrossMega Heracross,Bug,Fighting,80,600,600,600,600,185,115,40,105,75,2,False
229,HoundoomMega Houndoom,Dark,Fire,75,600,600,600,600,90,90,140,90,115,2,False
248,TyranitarMega Tyranitar,Rock,Dark,100,700,700,700,700,164,150,95,120,71,2,False
254,SceptileMega Sceptile,Grass,Dragon,70,630,630,630,630,110,75,145,85,145,3,False
257,BlazikenMega Blaziken,Fire,Fighting,80,630,630,630,630,160,80,130,80,100,3,False
260,SwampertMega Swampert,Water,Ground,100,635,635,635,635,150,110,95,110,70,3,False
282,GardevoirMega Gardevoir,Psychic,Fairy,68,618,618,618,618,85,65,165,135,100,3,False
302,SableyeMega Sableye,Dark,Ghost,50,480,480,480,480,85,125,85,115,20,3,False
303,MawileMega Mawile,Steel,Fairy,50,480,480,480,480,105,125,55,95,50,3,False
306,AggronMega Aggron,Steel,NaN,70,630,630,630,630,140,230,60,80,50,3,False
308,MedichamMega Medicham,Fighting,Psychic,60,510,510,510,510,100,85,80,85,100,3,False
310,ManectricMega Manectric,Electric,NaN,70,575,575,575,575,75,80,135,80,135,3,False
319,SharpedoMega Sharpedo,Water,Dark,70,560,560,560,560,140,70,110,65,105,3,False
323,CameruptMega Camerupt,Fire,Ground,70,560,560,560,560,120,100,145,105,20,3,False
334,AltariaMega Altaria,Dragon,Fairy,75,590,590,590,590,110,110,110,105,80,3,False
354,BanetteMega Banette,Ghost,NaN,64,555,555,555,555,165,75,93,83,75,3,False
359,AbsolMega Absol,Dark,NaN,65,565,565,565,565,150,60,115,60,115,3,False
362,GlalieMega Glalie,Ice,NaN,80,580,580,580,580,120,80,120,80,100,3,False
373,SalamenceMega Salamence,Dragon,Flying,95,700,700,700,700,145,130,120,90,120,3,False
376,MetagrossMega Metagross,Steel,Psychic,80,700,700,700,700,145,150,105,110,110,3,False
380,LatiasMega Latias,Dragon,Psychic,80,700,700,700,700,100,120,140,150,110,3,True
381,LatiosMega Latios,Dragon,Psychic,80,700,700,700,700,130,100,160,120,110,3,True
384,RayquazaMega Rayquaza,Dragon,Flying,105,780,780,780,780,180,100,180,100,115,3,True
428,LopunnyMega Lopunny,Normal,Fighting,65,580,580,580,580,136,94,54,96,135,4,False
445,GarchompMega Garchomp,Dragon,Ground,108,700,700,700,700,170,115,120,95,92,4,False
448,LucarioMega Lucario,Fighting,Steel,70,625,625,625,625,145,88,140,70,112,4,False
460,AbomasnowMega Abomasnow,Grass,Ice,90,594,594,594,594,132,105,132,105,30,4,False
475,GalladeMega Gallade,Psychic,Fighting,68,618,618,618,618,165,95,65,115,110,4,False
531,AudinoMega Audino,Normal,Fairy,103,545,545,545,545,60,126,80,126,50,5,False
719,DiancieMega Diancie,Rock,Fairy,50,700,700,700,700,160,110,160,110,110,6,True

In [68]:
#filtering out all the names that contain mega
df.loc[(~df['Name'].str.contains('Mega'))]

,Name,Type 1,Type 2,HP,Total,Total,Total,Total,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,318,318,318,318,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,405,405,405,405,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,525,525,525,525,82,83,100,100,80,1,False
4,Charmander,Fire,NaN,39,309,309,309,309,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,58,405,405,405,405,64,58,80,65,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,Zygarde50% Forme,Dragon,Ground,108,600,600,600,600,100,121,81,95,95,6,True
719,Diancie,Rock,Fairy,50,600,600,600,600,100,150,100,150,50,6,True
720,HoopaHoopa Confined,Psychic,Ghost,80,600,600,600,600,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,80,680,680,680,680,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,80,600,600,600,600,110,120,130,90,70,6,True

In [69]:
#import regular expressions
import re

#getting a pokemon that is either fire or grass
df.loc[df['Type 1'].str.contains('Fire|Grass', regex=True)]

,Name,Type 1,Type 2,HP,Total,Total,Total,Total,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,318,318,318,318,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,405,405,405,405,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,525,525,525,525,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,625,625,625,625,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,309,309,309,309,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,Litleo,Fire,Normal,62,369,369,369,369,50,58,73,54,72,6,False
668,Pyroar,Fire,Normal,86,507,507,507,507,68,72,109,66,106,6,False
672,Skiddo,Grass,NaN,66,350,350,350,350,65,48,62,57,52,6,False
673,Gogoat,Grass,NaN,123,531,531,531,531,100,62,97,81,68,6,False
721,Volcanion,Fire,Water,80,600,600,600,600,110,120,130,90,70,6,True

In [70]:
#getting a pokemon that is either fire or grass without casing mattering
df.loc[df['Type 1'].str.contains('fire|grass', flags=re.I, regex=True)]

,Name,Type 1,Type 2,HP,Total,Total,Total,Total,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,318,318,318,318,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,405,405,405,405,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,525,525,525,525,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,625,625,625,625,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,309,309,309,309,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,Litleo,Fire,Normal,62,369,369,369,369,50,58,73,54,72,6,False
668,Pyroar,Fire,Normal,86,507,507,507,507,68,72,109,66,106,6,False
672,Skiddo,Grass,NaN,66,350,350,350,350,65,48,62,57,52,6,False
673,Gogoat,Grass,NaN,123,531,531,531,531,100,62,97,81,68,6,False
721,Volcanion,Fire,Water,80,600,600,600,600,110,120,130,90,70,6,True

In [71]:
#getting all the names that begin with the letters pi from the column 'Name'
#^-> emphasizes the beginning of the row
df.loc[df['Name'].str.contains('^pi[a-z]', flags=re.I, regex=True)]

,Name,Type 1,Type 2,HP,Total,Total,Total,Total,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,,,,
16,Pidgey,Normal,Flying,40,251,251,251,251,45,40,35,35,56,1,False
17,Pidgeotto,Normal,Flying,63,349,349,349,349,60,55,50,50,71,1,False
18,Pidgeot,Normal,Flying,83,479,479,479,479,80,75,70,70,101,1,False
18,PidgeotMega Pidgeot,Normal,Flying,83,579,579,579,579,80,80,135,80,121,1,False
25,Pikachu,Electric,NaN,35,320,320,320,320,55,40,50,50,90,1,False
127,Pinsir,Bug,NaN,65,500,500,500,500,125,100,55,70,85,1,False
127,PinsirMega Pinsir,Bug,Flying,65,600,600,600,600,155,120,65,90,105,1,False
172,Pichu,Electric,NaN,20,205,205,205,205,40,15,35,35,60,2,False
204,Pineco,Bug,NaN,50,290,290,290,290,65,90,35,35,15,2,False
221,Piloswine,Ice,Ground,100,450,450,450,450,100,80,60,60,50,2,False
393,Piplup,Water,NaN,53,314,314,314,314,51,53,61,56,40,4,False
499,Pignite,Fire,Fighting,90,418,418,418,418,93,55,70,55,55,5,False
519,Pidove,Normal,Flying,50,264,264,264,264,55,50,36,30,43,5,False


# Conditional Changes

In [72]:
#changing fire type pokemon to flame type pokemon
df.loc[df['Type 1'] == 'Fire', 'Type 1'] = 'Flame'

df

,Name,Type 1,Type 2,HP,Total,Total,Total,Total,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,318,318,318,318,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,405,405,405,405,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,525,525,525,525,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,625,625,625,625,100,123,122,120,80,1,False
4,Charmander,Flame,NaN,39,309,309,309,309,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,50,600,600,600,600,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,50,700,700,700,700,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,80,600,600,600,600,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,80,680,680,680,680,160,60,170,130,80,6,True
721,Volcanion,Flame,Water,80,600,600,600,600,110,120,130,90,70,6,True

In [73]:
#changing flame back to fire
df.loc[df['Type 1'] == 'Flame', 'Type 1'] = 'Fire'

df

,Name,Type 1,Type 2,HP,Total,Total,Total,Total,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,318,318,318,318,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,405,405,405,405,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,525,525,525,525,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,625,625,625,625,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,309,309,309,309,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,50,600,600,600,600,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,50,700,700,700,700,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,80,600,600,600,600,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,80,680,680,680,680,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,80,600,600,600,600,110,120,130,90,70,6,True

In [74]:
#changing all fire pokemon to be legendary pokemon
df.loc[df['Type 1'] == 'Fire', 'Legendary'] = True

df

,Name,Type 1,Type 2,HP,Total,Total,Total,Total,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,318,318,318,318,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,405,405,405,405,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,525,525,525,525,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,625,625,625,625,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,309,309,309,309,52,43,60,50,65,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,50,600,600,600,600,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,50,700,700,700,700,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,80,600,600,600,600,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,80,680,680,680,680,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,80,600,600,600,600,110,120,130,90,70,6,True

In [82]:
#loading the original data back
df = pd.read_csv('datasets/Pokemon/modified.csv')
df

,Name,Type 1,Type 2,HP,Total,Total.1,Total.2,Total.3,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,318,318,318,318,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,405,405,405,405,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,525,525,525,525,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,625,625,625,625,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,309,309,309,309,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,600,600,600,600,100,150,100,150,50,6,True
796,DiancieMega Diancie,Rock,Fairy,50,700,700,700,700,160,110,160,110,110,6,True
797,HoopaHoopa Confined,Psychic,Ghost,80,600,600,600,600,110,60,150,130,70,6,True
798,HoopaHoopa Unbound,Psychic,Dark,80,680,680,680,680,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,80,600,600,600,600,110,120,130,90,70,6,True

In [83]:
#changing multiple parameters at a time
df.loc[df['Total'] > 500, ['Generation', 'Legendary']] = ['Test 1', 'Test 2']

df

,Name,Type 1,Type 2,HP,Total,Total.1,Total.2,Total.3,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,318,318,318,318,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,405,405,405,405,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,525,525,525,525,82,83,100,100,80,Test 1,Test 2
3,VenusaurMega Venusaur,Grass,Poison,80,625,625,625,625,100,123,122,120,80,Test 1,Test 2
4,Charmander,Fire,NaN,39,309,309,309,309,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,600,600,600,600,100,150,100,150,50,Test 1,Test 2
796,DiancieMega Diancie,Rock,Fairy,50,700,700,700,700,160,110,160,110,110,Test 1,Test 2
797,HoopaHoopa Confined,Psychic,Ghost,80,600,600,600,600,110,60,150,130,70,Test 1,Test 2
798,HoopaHoopa Unbound,Psychic,Dark,80,680,680,680,680,160,60,170,130,80,Test 1,Test 2
799,Volcanion,Fire,Water,80,600,600,600,600,110,120,130,90,70,Test 1,Test 2

# Aggregate Statistics (Groupby)

In [ ]:
#reloading the data frame
df = pd.read_csv('modified.csv')

df

In [ ]:
#sorting the means of the type 1 column with the highest defence in ascending 
#order
df.groupby(['Type 1']).mean().sort_values('Defense', ascending=False)

In [ ]:
#sorting the means of column type 1 in ascending order in the attack column 
df.groupby(['Type 1']).mean().sort_values('Attack', ascending=False)

In [ ]:
#sorting the means of column type 1 in ascending order in relations to their HP
df.groupby(['Type 1']).mean().sort_values('HP', ascending=False)

In [ ]:
#summing up all the data for each column in relation to type 1
df.groupby(['Type 1']).sum()

In [ ]:
#counting the total
df.groupby(['Type 1']).count()

In [ ]:
#easier to read format for the count of all type 1 pokemons
df['Count'] = 1

df.groupby(['Type 1']).count()['Count']

In [ ]:
#can do multiple parameters
#really usefull for a data set that is massive
df.groupby(['Type 1', 'Type 2']).count()['Count']

# Working with large amounts of data

In [28]:
#loading in data rows at a time 
for df in pd.read_csv('modified.csv', chunksize=5):
    print("Chunk Df")
    print(df)

FileNotFoundError: [Errno 2] No such file or directory: 'modified.csv'

In [ ]:
new_df = pd.DataFrame(columns=df.columns)

for df in pd.read_csv('modified.csv', chunksize=5):
    results = df.groupby(['Type 1']).count()
    
    new_df = pd.concat([])